.m-button { 
    font-size: $font-size; height: $button-height; padding: 0 1em;
    border-radius: $border-radius; border: 1px solid $border-color;
    background: $button-bg;
    display: inline-flex; justify-content: center; align-items: center;
    vertical-align: middle;
    &:hover { border-color: $border-color-hover; }
    &:active { background-color: $button-active-bg; }
    &:focus { outline: none; }
    > .m-button-content { order: 2; }
    > .icon { order: 1; margin-right: .2em; }

    &.icon-right {
      > .m-button-content { order: 1; }
      > .icon { order: 2; margin-right: 0; margin-left: .2em;}
    }
    .loading {
      animation: spin 2s infinite linear;
    }
  }