[class*="m-col-"] {
    float: left;
    box-sizing: border-box;
  }
  
  .m-col-0 {
    display: none;
  }
  
  @for $i from 0 through 24 {
    .m-col-#{$i} {
      width: (1 / 24 * $i * 100) * 1%;
    }
  
    .m-col-offset-#{$i} {
      margin-left: (1 / 24 * $i * 100) * 1%;
    }
  
    .m-col-pull-#{$i} {
      position: relative;
      right: (1 / 24 * $i * 100) * 1%;
    }
  
    .m-col-push-#{$i} {
      position: relative;
      left: (1 / 24 * $i * 100) * 1%;
    }
  }
  
  @include res(xs) {
    .m-col-xs-0 {
      display: none;
    }
    @for $i from 0 through 24 {
      .m-col-xs-#{$i} {
        width: (1 / 24 * $i * 100) * 1%;
      }
  
      .m-col-xs-offset-#{$i} {
        margin-left: (1 / 24 * $i * 100) * 1%;
      }
  
      .m-col-xs-pull-#{$i} {
        position: relative;
        right: (1 / 24 * $i * 100) * 1%;
      }
  
      .m-col-xs-push-#{$i} {
        position: relative;
        left: (1 / 24 * $i * 100) * 1%;
      }
    }
  }
  
  @include res(sm) {
    .m-col-sm-0 {
      display: none;
    }
    @for $i from 0 through 24 {
      .m-col-sm-#{$i} {
        width: (1 / 24 * $i * 100) * 1%;
      }
  
      .m-col-sm-offset-#{$i} {
        margin-left: (1 / 24 * $i * 100) * 1%;
      }
  
      .m-col-sm-pull-#{$i} {
        position: relative;
        right: (1 / 24 * $i * 100) * 1%;
      }
  
      .m-col-sm-push-#{$i} {
        position: relative;
        left: (1 / 24 * $i * 100) * 1%;
      }
    }
  }
  
  @include res(md) {
    .m-col-md-0 {
      display: none;
    }
    @for $i from 0 through 24 {
      .m-col-md-#{$i} {
        width: (1 / 24 * $i * 100) * 1%;
      }
  
      .m-col-md-offset-#{$i} {
        margin-left: (1 / 24 * $i * 100) * 1%;
      }
  
      .m-col-md-pull-#{$i} {
        position: relative;
        right: (1 / 24 * $i * 100) * 1%;
      }
  
      .m-col-md-push-#{$i} {
        position: relative;
        left: (1 / 24 * $i * 100) * 1%;
      }
    }
  }
  
  @include res(lg) {
    .m-col-lg-0 {
      display: none;
    }
    @for $i from 0 through 24 {
      .m-col-lg-#{$i} {
        width: (1 / 24 * $i * 100) * 1%;
      }
  
      .m-col-lg-offset-#{$i} {
        margin-left: (1 / 24 * $i * 100) * 1%;
      }
  
      .m-col-lg-pull-#{$i} {
        position: relative;
        right: (1 / 24 * $i * 100) * 1%;
      }
  
      .m-col-lg-push-#{$i} {
        position: relative;
        left: (1 / 24 * $i * 100) * 1%;
      }
    }
  }
  
  @include res(xl) {
    .m-col-xl-0 {
      display: none;
    }
    @for $i from 0 through 24 {
      .m-col-xl-#{$i} {
        width: (1 / 24 * $i * 100) * 1%;
      }
  
      .m-col-xl-offset-#{$i} {
        margin-left: (1 / 24 * $i * 100) * 1%;
      }
  
      .m-col-xl-pull-#{$i} {
        position: relative;
        right: (1 / 24 * $i * 100) * 1%;
      }
  
      .m-col-xl-push-#{$i} {
        position: relative;
        left: (1 / 24 * $i * 100) * 1%;
      }
    }
  }